---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_8xAPQDc5sgxMelYB7riJDw43
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-09-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1Gr40VIesFl9siJm9bHHN0re",
          "object": "token",
          "card": {
            "id": "card_1Gr40UIesFl9siJm283cexcr",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "hIkkQ6rFdNysddEp",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "197.40.74.129",
          "created": 1591457547,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 06 Jun 2020 15:32:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_1Gr40VIesFl9siJm9bHHN0re&metadata[purchase_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_8xAPQDc5sgxMelYB7riJDw43
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2020-06-06 17:32:26 +0200/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2020-06-06 17:32:26 +0200/2/2
      Original-Request:
      - req_MzJTInejF5vwPH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2018-09-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1Gr40VIesFl9siJmNpIzExTS",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Sat, 06 Jun 2020 15:32:28 GMT
recorded_with: VCR 6.0.0
