---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_8xAPQDc5sgxMelYB7riJDw43
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-09-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1Gr40SIesFl9siJm6rTN2Xlq",
          "object": "token",
          "card": {
            "id": "card_1Gr40SIesFl9siJm3AaXXpTQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "bZCHZZlddKl6g84W",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "197.40.74.129",
          "created": 1591457544,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 06 Jun 2020 15:32:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_1Gr40SIesFl9siJm6rTN2Xlq&metadata[purchase_id]=1&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_8xAPQDc5sgxMelYB7riJDw43
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2020-06-06 17:32:24 +0200/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2020-06-06 17:32:24 +0200/1/1
      Original-Request:
      - req_yme0ysaD0rg0ra
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2018-09-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1Gr40TIesFl9siJmYb6n6tjx",
          "object": "charge",
          "amount": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1Gr40TIesFl9siJmnhjALXo6",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1591457545,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 35,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1Gr40SIesFl9siJm3AaXXpTQ",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2028,
              "fingerprint": "bZCHZZlddKl6g84W",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_1D9GBGIesFl9siJm/ch_1Gr40TIesFl9siJmYb6n6tjx/rcpt_HPtoj6IyqON6wVvZSeAUKNipkw35RKc",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1Gr40TIesFl9siJmYb6n6tjx/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1Gr40SIesFl9siJm3AaXXpTQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2028,
            "fingerprint": "bZCHZZlddKl6g84W",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 06 Jun 2020 15:32:26 GMT
recorded_with: VCR 6.0.0
